@model IEnumerable<Todo.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <a type="button" class="btn btn-primary" asp-action="Index" asp-route-filterButton="To Do">To Do</a>
        <a type="button" class="btn btn-secondary" asp-action="Index" asp-route-filterButton="In Progress">In Progress</a>
        <a type="button" class="btn btn-dark" asp-action="Index" asp-route-filterButton="Done">Done</a>
        <a type="button" class="btn btn-info" asp-action="Index" asp-route-filterButton="All">All</a>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodoStatus.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
